@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --border-radius: 10px;
    --card-pading: 10px;
    --cor-de-fundo: #bcd4df89;
    --cor-principal:  #0D3973;
    --cor-card: #ffff;
    --font: "Mulish", sans-serif;
}


* {
    padding: 0;
    margin: 0;
    font-family: var(--font), Arial ;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--cor-de-fundo);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #fff;
    padding: 10px;
}

#utilites-container > i {
    font-size: 27px;
}



.dark-mod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: var(--cor-principal);
    border-radius: var(--border-radius);
    flex: 0 1 120px;
    padding: 0 5px;
}

.dark-mod i {
    color: #fff;
    cursor: pointer;
}

div#utilites-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
   
}

div#utilites-container i {
    
}

div#utilites-container input {
    padding: 5px;
    width: 300px;
    border-radius: var(--border-radius);
    
}

input:focus-within {
    outline: 4px solid rgba(0, 102, 255, 0.463);
    
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr;
}

#sidebar {
    padding: 10px;
    background-color: var(--cor-principal);
}


.fundo {
    background-color: #fff;
}

#principal {
    display: grid;
    padding-bottom: 20px;
    gap: 15px;
    grid-template-rows: 50px 200px 250px 1fr;
    grid-template-columns: 2fr 4fr 3fr;
}

.over-view {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -3;
    margin: 10px;
    border-radius: var(--border-radius);
    padding: var(--card-pading);
}

.card-total {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 10px;
   
}

.rate-container {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    margin-right: 10px;
    padding: var(--card-pading);
}

.estatistica {
    grid-column-start: 1;
    grid-column-end: -2;
    margin-left: 10px;
}

/* RESUMO */
#titulo-resumo {padding-bottom: 10px;}
#resumo-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.resumo {
    border: 2px solid black;
    flex: 0 1 280px;
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    
}

.resumo-info h3 {
    font-size: 2em;
    text-align: center;
}

.resumo-info span {
    text-align: center;
}

.rate-container h2 {
    text-align: center;
    padding-bottom: 30px;
}

.rate-container ul {
    list-style: none;
   
}

.rate-container ul li {
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    list-style-position: inside;
}

.rate-container ul li div {
    height: 10px;
    
    background-color: blue;
}

.barra-1 {
    width: 90%;
}
.barra-2 {
    width: 60%;
}
.barra-3 {
    width: 40%;
}
.barra-4 {
    width: 20%;
}


/* SideBar */  
.user-image img {
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    
}
.user-image, .user-info {
    margin: auto;
    width: 80%;
    text-align: center;
}

.user-info h3, .user-info p {
    color: #fff;
}
#user-container {
    padding: var(--card-pading);
    
}